html {
    background: whitesmoke;
}
.container {
    max-width: 1080px;
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 4px;
}
#titlebar{
    text-align: center;
}
#frontpage{
    box-shadow: 0px 0px 20px -6px grey;
    background: ghostwhite;
    padding: 20px;
}
h2 {
    color: #4CAF50;
}
input:focus {
    outline: none;
}
input#search {
    position: absolute;
    background: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 0 22px 22px 0;
    right: 30%;
}
input#user {
    background: rgba(76,175,80,.1);
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 10px 20px;
    border-radius: 22px;
    border: none;
    font-size: 13px;
    line-height: 18.5px;
}
#homepage {
    padding: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
}
#contentdiv {
    flex: 1;
    height: 318px;
    background: #4CAF50;
    border-radius: 161px 0;
    text-align: center;
}
#content {
    margin: 127px 108px;
    color: #fff;
    font-size: 22px;
    line-height: 30px;
}
#imagediv {
    flex: 1;
}
#searchimg {
    margin-top: 25px;
    width: 400px;
}
.search-result-container {
    margin-top: -8px;
}
table {
    border-collapse: collapse;
    width: auto;
    display: table-cell;
}


th, td {
    text-align: left;
    padding: 12px;
    width: 268px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
#userinfo {
    margin: 30px 10px;
    text-align: center;
}
#info {
    display: block;
    width: 100%;
}
div#infoleft {
    display: inline-block;
    max-width: 50%;
    text-align: left;
    width: 100%;
}
#inforight {
    margin-top: 2%;
    display: inline-block;
    float: right;
    max-width: 300px;
    width: 100%;
    text-align: left;
    margin-left: 5%;
}
#image {
    width: 150px;
    text-align: center;
    border-radius: 200px;
    box-shadow: 0px 1px 14px -3px;
    padding: 5px;
}
#userimg {
    width: 160px;
    
}
#nameuser {
    width: 165px;
    text-align: center;
}
#userdetails {
    text-align: center;
    overflow: auto;
    max-height: 400px;
    height: 100%;
    width: 100%;
}
span {
    font-size: 13px;
    padding: 0 5px;
}
#userinfotop {
    margin: 10px;
    font-size: 14px;
    color: #586069;
}
#shortList {
    width: 50%;
    text-align: right;
    display: inline-block;
    float: right;
    padding: 20px;
}
p#short {
    display: inline-block;
    font-size: 14px;
    padding: 0 5px;
    font-weight: bold;
    color: gray;
}
select {
    background: rgba(76,175,80,.1);
    width: 150px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
}
select:focus {
    outline: 0;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
    background: rgba(76,175,80,.1)!important;
}

.sk-folding-cube {
  margin: 0 auto;
  width: 80px;
  padding: 20% 0;
  height: 80px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lavender;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
#loading {
    background: #27ae60;
    height: 100%;
    margin: 0;
    padding: 0;
}